[Desktop Entry]
Encoding=UTF-8
Name=Human-Charity-Coin
Comment=Human-Charity-Coin P2P Cryptocurrency
Exec=human-charity-coin-qt %u
Terminal=false
Type=Application
Icon=human-charity-coin128
MimeType=x-scheme-handler/human-charity-coin;
Categories=Office;Finance;
Name[en_US]=human-charity-coin-qt.desktop
