[Unit]
Description=Human-Charity-Coin's distributed currency daemon
After=network.target

[Service]
User=hcc
Group=hcc

Type=forking
PIDFile=/var/lib/hccd/hccd.pid

ExecStart=/usr/bin/hccd -daemon -pid=/var/lib/hccd/hccd.pid \
          -conf=/etc/hcc/hcc.conf -datadir=/var/lib/hccd

ExecStop=-/usr/bin/hcc-cli -conf=/etc/hcc/hcc.conf \
         -datadir=/var/lib/hccd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
